body {
	background:#fbc687;
	font-family:arial;
	text-align:center;
}

.cadre{
	background: #dddddd;
	border: 3px solid orange;
	margin: 20px 100px;
	padding: 30px 70px;
	border-radius: 5px;
	box-shadow:5px 5px 10px grey;
}

h1{
	font-family: 'Indie Flower', cursive;
	font-size: 70px;
}

h2 {
	color: orange;
	font-family: 'Indie Flower', cursive;
	font-size: 30px;
}

h3, h4{
	color:orange;
	font-size:25px;
	font-family: 'Indie Flower', cursive;
}

h4, ul {
	text-align: left
}

.avatar{
	width: 600px;
	height: 450px;
	object-fit: cover;
}

.my-btn {
	display:inline-block;
	color : orange;
	background: white;
	margin: 10px;
	padding:10px;
	border-radius:5px;
	font-weight: bold;
}

.my-btn:hover {
  color: #cf7500;
  opacity: 0.8;
}

.animaux{
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 3px;
	box-shadow: 2px 2px 10px #e7dfd5;
	margin: 10px;
}

.line-transparent {
  background: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line-light {
  height: 5px;
  width: 20%;
  background: #EE9CA7;
}

.line-medium {
  height: 5px;
  width: 30%;
  background: #C86472;
}

.line-hard {
  height: 5px;
  width: 50%;
  background: #9F3442;
}

.logo {
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.my-navbar {
	display:flex;
	justify-content: space-between;
	align-items: center;
	background: white;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.link {
  margin: 10px 30px;
  color: orange;
}

.link:hover {
  color: #cf7500;
}

.réseaux {
	color : white;
	font-size: 35px;
}

.modal-body {
	background: white;
}

.mail {
	background-color: white
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
